@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

$clr-main: #e38125;
$clr-secondary: #3292E1;
$clr-white: #fffaff;
$clr-black: #050401;
$tbg-digital: linear-gradient(90deg, #BC4E9C, #F80759);
$tbg-monster: linear-gradient(90deg, #CB2D3E, #EF473A);
$cardbg: #EBDFC8;

*::before, *::after { box-sizing: border-box;}
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background: white;
}

header {
    width: 100%;
    background-color: $clr-main;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    .headContainer {
        background-color: $clr-main;
        margin: 0;
        padding: 0 1em;
        display: flex;
        justify-content: space-between;

        .logo {
            width: 250px;
        }

        .menu {
            width: 30px;
            padding:20px 0;
            color: $clr-white;

            .menuL1, .menuL2, .menuL3 {
                background: rgba(255,255,255,0.7);
                width: 30px;
                height: 3px;
                margin: 6px 0;
                border-radius: 3px;
            }

            .menuL2 {
                width: 25px;
                margin-left: 5px;
            }
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;

            li {
                float: left;

                a{
                    color: rgba(255,255,255,0.9);
                    font-size: .8em;
                    font-weight: 600;
                    display: block;
                    padding: 20px 16px;
                    text-transform: uppercase;
                    text-align: center;
                    text-decoration: none;
                    letter-spacing: 2px;

                    &:hover {
                        background: #3292E1;

                    }
                }
            }
        }
        .hide-mobile {
            display: none;
        }

        .show-desktop {
            display: none;
        }

        .exit-btn {
            width: 15px;        
        }

        @media screen and (min-width: 1024px) {
            margin: 0 3em;

            .hide-mobile {
                display: inline;
            }

            .show-desktop {
                display: inline;
            }

            .hide-desktop {
                display: none;
            }
        }
    }
}

.floatDig {
    background: linear-gradient(#C6FFDD 0%, #FBD786 25%, #F7797D 100%);
    width: 200px;
    margin-left: 1em;
    padding: 1.2em .5em;
    border: 1px solid #F7797D;
    border-radius: 10px;
    position: fixed;
    right: calc(50vw - 470px);
    top: 95px;
    text-align: center;

    h1 {
        color: #F77A7D;
        font-weight: 50;
        font-size: 2.2em;
    }

    h2 {
        color: #F7797D;
        font-size: 1.4em;
        background-color: $clr-white;
        border-radius: 10px;
        line-height: 1em;
        padding: .2em;
    }

    p {
        text-align: left;
        font-size: .9em;
        line-height: 1em;
    }

    .adBtn {
        background-color: #4FB957;
        border: 1px solid #4FB957;
        text-decoration: none;
        border-radius: 5px;
        width: 90%;
        color: $clr-white;
        font-size: .8em;
        font-weight: 600;
        margin: auto;
        padding: .5em;
        text-transform: uppercase;

        &::after {
            content:'Select Poses';
        }

        &:hover {
            background-color: $clr-main;
            border: 1px solid #e38125;
            cursor: pointer;
        }
    }

    @media screen and (max-width: 1023px){
        display: none;
        font-size: 1em;
    }
}

.content {
    margin: 73px 0 0 0;
    padding: 2.5em 0;
    text-align: center;
    position: relative;

    @media screen and (min-width: 1024px) {
        max-width: 750px;
        position: relative;
        //left: calc(50vw - 510px);
        text-align: left;
        margin-top: 55px;
    }
}

h1, h2, h3 {
    color: $clr-black;
    line-height: .5em;

    @media screen and (min-width: 1024px){
        text-align: left;
    }
}

h1 {
    display: inline;
    padding: 0;
}

h3 {
    font-weight: normal;
    font-size: 1.4em;
    line-height: 1.1em;
    display: inline;
    padding-right: .5em;
}

.container {
    width: 100%;
    text-align: left;
    margin-top: 2em;
    position: relative;
    max-width: 1000px;
    margin: 2em auto 0 auto;
}

.hero {
    width: 100%;
    display: flex;

    .proof {
        background-color: #EBDFC8;
        width: calc(50% - 1em);
        border-radius: 10px;
        padding: .5em;
        flex: left;

        h1, h2 {
            color:$clr-black;
            line-height: .3em;
            text-align: center;
        }

        h1 {
            font-size: .8em;
            font-weight: normal;
        }

        h2 {
            font-size: 1em;
        }

        img {
            width: 90%;
        }

        .zoom {
            color: #3292e1;
            font-size: .9em;
            font-weight: 600;
        }

        .orf {
            font-size: .6em;
        }

        @media screen and (min-width: 768px) {
            width: calc(33% - 1em);
        }

        @media screen and (min-width: 1024px) {
            width: calc(20% - 1em);
        }
    }

    .Ad {
        background: linear-gradient(#C6FFDD 0%, #FBD786 25%, #F7797D 100%);
        width: calc(50% - 1em);
        flex: right;
        margin-left: 1em;
        padding: .2em .5em;
        border-radius: 10px;

        h1 {
            color: #F77A7D;
            font-weight: 50;
            font-size: 1.6em;
        }

        h2 {
            color: #F7797D;
            font-size: 1em;
            background-color: $clr-white;
            border-radius: 10px;
            line-height: 1em;
            padding: .1em;
        }

        p {
            text-align: left;
            font-size: .9em;
            line-height: 1em;
        }

        .adBtn {
            background-color: #4FB957;
            border: 1px solid #4FB957;
            border-radius: 5px;
            width: 90%;
            color: $clr-white;
            font-size: .8em;
            font-weight: 600;
            margin: auto;
            padding: .5em;
            text-transform: uppercase;

            &:hover {
                background: $clr-main;
                border: 1px solid #e38125;
                cursor: pointer;
            }
        }

        @media screen and (min-width: 768px) {
            width: calc(66% - 1em);

            h1 {
                font-size: 2.4em;
            }

            h2 {
                font-size: 1.8em;
            }

            p {
                font-size: 1.2em;
                line-height: 1.4em;
            }

            .adBtn {
                font-size: 1.2em;
            }
        }

        @media screen and (min-width: 1024px) {
            display: none;
        }
    }

    .moreProofs {
        width: calc(80% - 1em);
        height: 250px;
        background: $clr-white;
        overflow: scroll;
        overflow-x: hidden;
        border: 1px solid #909090;
        border-radius: 10px;
        margin-left: 1em;
        display: flex;
        flex-wrap: wrap;
        scroll-behavior: auto;

        @media screen and (max-width: 1023px) {
            display: none;
        }

        .proofs {
            padding: .2em;
            width: 15%;

            img {
                width: 100%;
            }

            .poseName {
                font-size: .8em;
            }
        }
    }
}

.products{
    width: calc(100% - 2em);
    box-sizing: border-box;
    margin: 0 1em;

    .Digital {
        width: 100%;
        margin: 2em 0;
        background: #ffffff;
        border-radius: 10px;

        .title {
            background: $tbg-digital;
        }

        .packageInfo {
            background: linear-gradient(95deg,#BC4E9C30, #F8075930);

        }

        .Description1 {

            img{
                width: 100%;
            }
        }

        .Description2 {

            table {
                width: 90%;
                margin: auto;
                border-spacing: 0px;
                font-size: .8em;

                tr {
                    background: rgba(255,255,255,0.3);

                    &:nth-child(even) {
                        background: none;
                        border: none;
                    }
                }

                tr, td {
                    text-align: left;
                    padding: 2px 5px;
                }

                .price {
                    text-align: right;
                }
            }

            .btn {
                text-decoration: none;
                width: 90%;
                display: block;

                &::after {
                    content: 'Select Poses';
                }
            }
        }

        @media screen and (min-width: 768px) {
            .packageInfo {
                display: flex;
                justify-content: space-between;

                .Description1 {
                    width: 64%;
                }

                .Description2 {
                    width: 36%;
                    align-content: center;
                    margin: auto;
                }
            }
        }
    }
    .monster {
        width: 100%;
        margin: 2em 0;
        background: #EBDFC8;
        border-radius: 10px;

        .title {
            background: $tbg-monster;
        }

        .Description1 {
            img {
                width: 90%;

            }
        }

        @media screen and (min-width: 768px) {
            .packageInfo {
                display: flex;
                justify-content: space-between;

                .Description1 {
                    width: 64%;
                }

                .Description2 {
                    width: 36%;
                    align-content: center;
                    margin: auto;
                }
            }
        }
    }

    .packages {
        width: 100%;
        margin: 2em 0;

        @media screen and (min-width: 768px) {
            .packageInfo {
                display: flex;
                justify-content: space-between;

                .Description1 {
                    width: 64%;
                }

                .Description2 {
                    width: 36%;
                    align-content: center;
                    margin: auto;
                }
            }
        }

        .card {
            width: 100%;
            margin: 1em 0;

            @media screen and (min-width: 1024px){
                width: calc(33.33% - .5em);
                margin: 0;
            }

            .title {
                background: linear-gradient(90deg, #E65C00, rgb(247, 132, 26));
            }

            .packageInfo {
                display: block;

                .Description1 {
                    min-height: 7em; 
                    max-height: 18em;
                    width: 100%;
                    overflow: hidden;

                    img {
                        height: 90%;
                        max-height: 147px;
                        width: auto;
                    }
                }

                .Description2 {
                    width: 100%;

                    a {
                        text-decoration: none;
                        width: 90%;
                        display: block;
                    }
                }
            }
            
        }

        @media screen and (min-width: 1024px){
            display: flex;
            justify-content: space-between;

            .Description1 {
                width: 100%;

                img {
                    max-height: 120px !important;
                }
            }

            .Description2 {
                width: 100%;
                align-content: center;
                margin: auto;
            }
        }
   
    }

    .packageWall {
        width: 100%;
        margin: -1em 0 1em 0;
        background: #EBDFC8;
        border-radius: 10px;

        .title {
            background: linear-gradient(90deg, #E65C00, #F9D423);
        }

        .packageInfo {
            position: relative;
            background: none;

            &::before {
                content:'';
                box-sizing: border-box;
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 0;
                opacity: 0.4;
                background-image: url("../images/deskBG.jpg");
                background-repeat: repeat;
                background-position: 50% 0;
                background-size: cover;
            }
        }

        .Description1 {
            padding: 0;

            img {
                height: 100%;
            }
        }

        @media screen and (min-width: 768px) {
            .packageInfo {
                display: flex;
                justify-content: space-between;

                .Description1 {
                    width: 64%;
                }

                .Description2 {
                    width: 36%;
                    align-content: center;
                    margin: auto;
                }
            }
        }
    }

    .packageWall2 {
        width: 100%;
        margin: 2em 0 1em 0;
        background: #EBDFC8;
        border-radius: 10px;

        .title {
            background: linear-gradient(90deg, #FFA751, #FFE259);
        }

        .packageInfo {
            position: relative;
            background: none;

            &::before {
                content:'';
                box-sizing: border-box;
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 0;
                opacity: 0.4;
                background-image: url("../images/deskBG.jpg");
                background-repeat: repeat;
                background-position: 50% 0;
                background-size: cover;
            }
        }

        .Description1 {
            padding: 0;


            img {
                overflow: hidden;
                height: 100%;
            }
        }

        @media screen and (min-width: 768px) {
            
            .packageInfo {
                display: flex;
                justify-content: space-between;

                .Description1 {
                    width: 64%;
                }

                .Description2 {
                    width: 36%;
                    align-content: center;
                    margin: auto;
                }
            }
        }

        @media screen and (min-width: 1024px) {
            margin-top: 1em;
        }
    }
    .tasselFrame {
        width: 100%;
        margin: 2em 0 1em 0;
        background: #EBDFC8;
        border-radius: 10px;

        .title {
            background: linear-gradient(90deg, #128cfd, #70b8fc);
        }

        .packageInfo {
            position: relative;
            background: none;

            &::before {
                content:'';
                box-sizing: border-box;
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 0;
                opacity: 1;
                background-image: url("../images/wallBG.jpg");
                background-repeat: repeat;
                background-position: 50% 75%;
                background-size: cover;
            }
        }

        .Description1 {
            padding: 1em;


            img {
                overflow: hidden;
                height: 100%;
                max-height: 300px;
                width: auto;
            }
        }

        @media screen and (min-width: 768px) {
            
            .packageInfo {
                display: flex;
                justify-content: space-between;

                .Description1 {
                    width: 64%;
                }

                .Description2 {
                    width: 36%;
                    align-content: center;
                    margin: auto;
                }
            }
        }

        @media screen and (min-width: 1024px) {
            margin-top: 1em;
        }
    }

    .posters {
        width: 100%;
        margin: 2em 0;
        background: #EBDFC8;
        border-radius: 10px;
        text-align: center;

        .title {
            background: linear-gradient(90deg, #FFA751, #FFE259);
        }

        .title2 {
            @media screen and(min-width: 768px) {
                .hide-desktop7 {
                    display: none;
                }
            }
        }

        .Description1 {
            img {
                width: 100%;
            }
        }

        @media screen and (min-width: 768px) {
            .packageInfo {
                display: flex;
                justify-content: space-between;

                .Description1 {
                    width: 64%;
                }

                .Description2 {
                    width: 36%;
                    align-content: center;
                    margin: auto;
                }
            }
        }
    }

    .individuals {
        width: 100%;
        margin: -1em 0;

        .card {
            margin: 1em 0;
            background: #EBDFC8;
            border-radius: 10px;
        }

        .title {
            background: linear-gradient(90deg, #FFA751, #FFE259);
        }

        .Description1 {
            img {
                width: 100%;
            }

            .titleInfo8x10 {
                width: 225px;
                background: $clr-white;
                height: 50px;
                margin-left: 1em;
                position: relative;
                line-height: 6px;
                font-weight: bold;
                float: left;

                &::before {
                    position: absolute;
                    width: 205px;
                    height: 20px;
                    left: 10px;
                    top: 0px;
                    background:$clr-black;
                    content: '';
                }

                &::after {
                    content: 'The University of Sample \A Commencement \A Date of Event';
                    position: absolute;
                    font-size: .2em;
                    font-weight: bold;
                    white-space: pre;
                    padding: 0;
                    margin: 0;
                    top: 68%;
                    left: 50%;
                    transform: translate(-50%, -50%)
                }
            }

            .sampleTitleText {
                width: 75px;
                float: right;
                font-size: .8em;
                padding-right: 2em;
                font-weight: 600;
            }

            table {
                width: 100%;
                border-spacing: 0;
                margin: 0 auto .5em;
                padding: 0;
                border-radius: 5px;
                overflow: hidden;

                tr {
                    background: rgba(255,255,255,0.3);

                    &:nth-child(odd) {
                        background: none;
                        border: none;
                    }
                }

                tr,th, td {
                    text-align: center;
                    padding: 2px 5px;
                    font-size: .85em;
                    vertical-align: center;
                }

                th {
                    border-bottom: 2px solid #939393;
                    margin-bottom: 3px;
                    line-height: .9em;
                    background-color: rgba(255,255,255,0.2)
                }

                td {
                    width: 25%;
                    padding: .2em 0;
                }
            }
        }

        @media screen and (min-width: 768px) {
            .packageInfo {
                display: flex;
                justify-content: space-between;

                .Description1 {
                    width: 64%;
                }

                .Description2 {
                    width: 36%;
                    align-content: center;
                    margin: auto;
                }
            }
        }

        @media screen and (min-width: 1024px) {
            display: flex;
            justify-content: space-between;
            margin-top: -2em;
            
            .card {
                width: calc(50% - .5em);
                display: block;

                .packageInfo {
                    display: block;
                
                    .Description1 {
                        width: 100%;

                        img {
                            width: 90%;
                        }
                    }

                    .Description2 {
                        width: 100%;
                    }
                }
            }
        }
    }

    .plaques1 {
        margin: 0 0 1em 0 !important;
    }

    .plaques1, .plaques2 {
        width: 100%;
        margin: 1em 0;

        .card {
            margin: 1em 0;
            background: #EBDFC8;
            border-radius: 10px;
        }

        .title {
            background: linear-gradient(90deg, #11998E, #38EF7D);
        }

        .Description1 {
            img {
                width: 100%;
            }

            .titleInfo8x10 {
                width: 225px;
                background: $clr-white;
                height: 50px;
                margin-left: 1em;
                position: relative;
                line-height: 6px;
                font-weight: bold;
                float: left;

                &::before {
                    position: absolute;
                    width: 205px;
                    height: 20px;
                    left: 10px;
                    top: 0px;
                    background:$clr-black;
                    content: '';
                }

                &::after {
                    content: 'The University of Sample \A Commencement \A Date of Event';
                    position: absolute;
                    font-size: .2em;
                    font-weight: bold;
                    white-space: pre;
                    padding: 0;
                    margin: 0;
                    top: 68%;
                    left: 50%;
                    transform: translate(-50%, -50%)
                }
            }

            .sampleTitleText {
                width: 75px;
                float: right;
                font-size: .8em;
                padding-right: 2em;
                font-weight: 600;
            }

            table {
                width: 100%;
                border-spacing: 0;
                margin: 0 auto .5em;
                padding: 0;
                border-radius: 5px;
                overflow: hidden;

                tr {
                    background: rgba(255,255,255,0.3);

                    &:nth-child(odd) {
                        background: none;
                        border: none;
                    }
                }

                tr,th, td {
                    text-align: center;
                    padding: 2px 5px;
                    font-size: .85em;
                    vertical-align: center;
                }

                th {
                    border-bottom: 2px solid #939393;
                    margin-bottom: 3px;
                    line-height: .9em;
                    background-color: rgba(255,255,255,0.2)
                }

                td {
                    width: 25%;
                    padding: .2em 0;
                }
            }
        }

        @media screen and (min-width: 768px) {
            .packageInfo {
                display: flex;
                justify-content: space-between;

                .Description1 {
                    width: 64%;
                }

                .Description2 {
                    width: 36%;
                    align-content: center;
                    margin: auto;
                }
            }
        }

        @media screen and (min-width: 1024px) {
            display: flex;
            justify-content: space-between;
            margin-top: -2em;
            
            .card {
                width: calc(50% - .5em);
                display: block;

                .packageInfo {
                    display: block;
                
                    .Description1 {
                        width: 100%;

                        img {
                            width: 90%;
                        }
                    }

                    .Description2 {
                        width: 100%;
                    }
                }
            }
        }
    }


    .collage {
        text-align: center;
        margin-bottom: 1em;

        .title {
            background: linear-gradient(90deg, #128cfd, #70b8fc);
        }

        @media screen and (min-width: 1024px) {
            .Description2H {
                box-sizing: border-box;
                width: 50%;
                float: left;
                border-right: 1px solid rgb(150, 134, 91);
            }
        }
    }

    .inspiration {
        text-align: center;

        .title {
            background: linear-gradient(90deg, #128cfd, #70b8fc);
        }

        @media screen and (min-width: 1024px) {
            .Description2H {
                box-sizing: border-box;
                width: 25%;
                float: left;
                border-right: 1px solid rgb(150, 134, 91);
            }
        }
    }


}


.card {
    border-radius: 10px;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.4);
}

.title {
    background: linear-gradient(90deg, #E65C00, rgb(247, 132, 26));
    border-radius: 10px 10px 0 0;
    font-size: 1.6em;
    font-weight: 800;
    color: $clr-white;
    text-transform: uppercase;
    padding: .1em 0;
    text-align: center;
    

    @media screen and (min-width: 768px) {
        text-align: left;
        padding-left: 20px;
    }
}

.title2 {
    position: relative;
    background-color: $cardbg;

    .d1Overlay {
        position: absolute;
        display: block;
        width: 100%;
        height: 0px;
        top: 0;
        left: 0;
        text-align: center;
        color:$clr-black;
        line-height: 1.8em;
        background:rgba(241, 233, 218, 0.95);
        font-weight: 600;
        opacity: 0;
        transition: ease-out .3s;
        box-sizing: border-box;
        border-bottom: 2px solid $clr-secondary;
        overflow: hidden;
        z-index: 9;

        h3 {
            width: 100%;
            display: block;
            height: 25px;
            font-weight: 800;
            background-color: #ffffff70;
            padding: .5em 0;
            margin: 0;
            color:$clr-black;
            text-align: center;
            border-bottom: 3px solid $clr-main;
        }

        p {
            text-align: left;
            padding: 1em;
        }

        .liLine {
            width: 75px;
            height: 1px;
            background-color: $clr-main;
            margin: 3px auto;
            border-radius: 2px;
        }

        ul {
            list-style-type: none;
            width: 100%;
            margin: 0;
            padding: .3em 0;
            display: inline-block;
        }

        table {
            width: 90%;
            line-height: 2em;
            border-spacing: 0;
            padding-top: .5em;
            margin: 0 auto;

            tr {
                background: rgba(255,255,255,0.3);

                &:nth-child(even) {
                    background: none;
                    border: none;
                }
            }

            tr, td {
                text-align: left;
                padding: 2px 5px;
            }

            .price {
                text-align: right;
            }
        }
    }
    .fas {
        display: block;
        box-sizing: border-box;
        position: absolute;
        text-align: center;
        width: 30px;
        height: 30px;
        padding: 8px;
        border-radius: 50%;
        border: 2px solid white;
        background: $clr-secondary;
        color: $clr-white;
        right: 0;
        bottom: 0;
        transform: scale(.8)
    }
    
    .fa-info {
        font-size: 12px;
    }

    &:hover {

        .d1Overlay {
            opacity: 1;
            height: 100%;
        }

        .fa-info {
            background: rgb(126, 126, 126);
            transition: 250ms ease-in-out;
        }
    }
}
.titleImage {
    width: 100%;

    img {
        width: 100%;
    }
}

.packageInfo {
    background: #EBDFC8;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
}

.Description1 {
    text-align: center;
    position: relative;
    padding: 2em 1em;
    box-sizing: border-box;
    overflow: hidden;
 

    img {
        position: relative;
        width: 100%;
        height: auto;
    }

    .d1Overlay {
        position: absolute;
        display: block;
        width: 100%;
        height: 0px;
        top: 0;
        left: 0;
        text-align: center;
        color:$clr-black;
        line-height: 1.6em;
        background:rgba(241, 233, 218, 0.95);
        font-weight: 600;
        opacity: 0;
        transition: ease-out .3s;
        box-sizing: border-box;
        border-bottom: 2px solid $clr-secondary;
        overflow: hidden;
        z-index: 9;

        p {
            padding: 0 1em;
            text-align: left;
        }

        h3 {
            display: block;
            width: 100%;
            height: 25px;
            font-weight: 800;
            background-color: #ffffff70;
            padding: .5em 0;
            margin: 0;
            color:$clr-black;
            text-align: center;
            border-bottom: 3px solid $clr-main;
        }

        .liLine {
            width: 75px;
            height: 1px;
            background-color: $clr-main;
            margin: 3px auto;
            border-radius: 2px;
        }

        ul {
            list-style-type: none;
            width: 100%;
            margin: 0;
            padding: .3em 0;
        }

        table {
            width: 90%;
            line-height: 2em;
            border-spacing: 0;
            padding-top: .5em;
            margin: 0 auto;

            tr {
                background: rgba(255,255,255,0.3);

                &:nth-child(even) {
                    background: none;
                    border: none;
                }
            }

            tr, td {
                text-align: left;
                padding: 2px 5px;
            }

            .price {
                text-align: right;
            }
        }
    }

    .fas {
        display: block;
        box-sizing: border-box;
        position: absolute;
        text-align: center;
        width: 30px;
        height: 30px;
        padding: 8px;
        border-radius: 50%;
        border: 2px solid white;
        background: $clr-secondary;
        color: $clr-white;
        right: 0;
        bottom: 0;
        transform: scale(.8)
    }
    
    .fa-info {
        font-size: 12px;
    }

    &:hover {

        .d1Overlay {
            opacity: 1;
            height: 100%;
        }

        .fa-info {
            background: rgb(126, 126, 126);
            transition: 250ms ease-in-out;
        }
    }
}

.Description2 {
    position: relative;
    text-align: center;
    padding: .5em 0;
}

.Description2H {
    display: block;
    padding: .5em;
    width: 100%;


    p {
        font-size: 1.4em;
        color:$clr-black;
        font-weight: 600;
        margin: .2em;
    }
}

.btn {
    background: linear-gradient(#5DAEF1,#3292E1);
    border: 1px solid #3292E1;
    color: $clr-white;
    font-size: 1.1em;
    font-weight: 800;
    text-transform: uppercase;
    width: 90%;
    padding: .4em 0;
    margin: .5em auto;
    border-radius: 5px;
    transition: 250ms ease-in-out;

    &::after {
        content: 'Add & Customize';
    }

    &:hover {
        background: $clr-main;
        border: 1px solid #e38125;
        cursor: pointer;
    }
}

.fa-download {
    padding-left: 1em;
}

.fa-star {
    padding-right: 1em;
}
.fa-chevron-left {
    font-size: .8em;
}

.cart {
    position: absolute;
    left: calc(50vw + 260px);
    color: $clr-white;
    background-color: $clr-secondary;
    padding: .5em 0em;
    width: calc(200px + 1em);
    text-align: center;
    border-radius: 0 0 10px 10px;
}

.show-when-items {
    display: none;
}

.back2Proofs {
    position: absolute;
    left: 0.5em;
    top: 0;
    color: $clr-white;
    background-color: none;
    padding: .4em;
    text-align: center;
    border-radius: 5px;
    border: 1px solid white;
    color: $clr-white;
    text-decoration: none;
    font-weight: 600;
    z-index: 2;

    @media screen and (min-width: 1024px) {
        
        
    }
}

.proofPage {
    position: relative;
    min-height: calc(100vh - 207px);
    margin: 4.5em auto 0 auto;
    padding: 1em;
    text-align: center;

    h3 {display: inline; padding: 0 .5em 0 0;}
    h1 {display: inline; padding: 0;}

    @media screen and (min-width: 768px) {
        width: auto;
    }

    @media screen and (min-width: 1024px) {
        margin: 4em auto;
        max-width: 1000px;
        position: relative;
        min-height: calc(100vh - 207px);
        text-align: left;
    }
    
}

.digPage {
    max-width: 1000px;
    position: relative;
    min-height: calc(100vh - 207px);

    @media screen and (min-width: 768px) {
        width: auto;
    }

    @media screen and (min-width: 1024px) {
        margin: 4em auto;
    }
    
}

.AllProofs {
    box-sizing: border-box;
    position: relative;
    max-width: 1000px;
    flex-wrap: wrap;
    width: 100%;
    display: flex;

    

    .proofs {
        position: relative;
        margin: 1em auto;
        padding: 1em;
        text-align: center;
        background-color: $clr-white;
        border-radius: 5px;
        overflow: hidden;
        transition: 250ms ease-in-out;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.2);

        img {
            transition: opacity ease-in-out 250ms;
        }

        .poseName {
            color: $clr-main;
            transition: 250ms ease-in-out;
            font-weight: 600;
            
        }

        a {
            text-decoration: none;
            opacity: 1 !important;
            color: $clr-white;
        }

        .selectProof {
            opacity: 0;
            display: block;
            position: absolute;
            text-align: center;
            color: $clr-white;
            margin: auto;
            width: 95%;
            background: linear-gradient(#5DAEF1,#3292E1);
            left: 50%;
            top: 85%;
            transform: translate(-50%, -85%);
            padding: .5em 0;
            height: 20px;
            border-radius: 5px;
            overflow: hidden;
            transition: 250ms ease-in-out;
        }

        &:hover {
            background-color: #ffffff40;
            transition: background-color ease-in-out 250ms;

            img {
                opacity: .5;
                transition: opacity ease-in-out 250ms;
            }

            .poseName {
                color: $clr-white;
            }

            .selectProof {
                opacity: 1 !important;
                transition: opacity ease-in-out 250ms;
            }
        }

        @media screen and (min-width: 1024px) {
            margin: .5em;
            padding: .25em;
        }
    }

   

}

.digSelect {
    box-sizing: border-box;
    position: relative;
    max-width: 1000px;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    text-align: left;

    .proofs {
        position: relative;
        margin: .5em;
        padding: .25em;
        text-align: center;
        background-color: $clr-white;
        border-radius: 5px;
        overflow: hidden;
        transition: 250ms ease-in-out;
        border: 3px solid $clr-secondary;

        img {
            transition: opacity ease-in-out 250ms;
        }

        .poseName {
            color: $clr-main;
            transition: 250ms ease-in-out;
            font-weight: 600;
            
        }

        a {
            text-decoration: none;
            opacity: 1 !important;
            color: $clr-white;
        }

        .selectProof {
            opacity: 0;
            display: block;
            position: absolute;
            text-align: center;
            color: $clr-white;
            margin: auto;
            width: 95%;
            background: linear-gradient(#5DAEF1,#3292E1);
            left: 50%;
            top: 85%;
            transform: translate(-50%, -85%);
            padding: .5em 0;
            height: 20px;
            border-radius: 5px;
            overflow: hidden;
            transition: 250ms ease-in-out;
        }

        #selected:checked ~.selectProof {
            display: block;
        }
    }

    @media screen and (min-width: 1024px) {
        max-width: 750px;
        position: relative;
    }

}

footer {
    background-color:$clr-black;
    color: $clr-white;
    padding: 10px 0 20px 0;
    width: 100%;
    display: block;
    position: relative;

    .justify-content-center {
        justify-content: center !important;
    }

    .nav {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 1em;
        list-style: none;

        .nav-item {
            list-style: none;
        }
    }

    ul {
        margin-top: 0;
        
        li {
            float: center;
            
            a{
                color: rgba(255,255,255,0.9);
                font-size: .8em;
                font-weight: 600;
                display: inline;
                padding: 10px 16px;
                text-transform: uppercase;
                text-align: center;
                text-decoration: none;
                letter-spacing: 2px;
            }

            &:hover {
                a {
                    background-color: rgba(255,255,255,0.1);
                }
            }
        }
    }

    .footer__copyright-notice {
        font-size: 12px;
    }

    .text-center{
        text-align: center !important;
    }
}

.hide-desktop {
    @media screen and (min-width: 1024px){
        display: none;
    }
}

.hide-mobile {
    display: none;

    @media screen and (min-width: 768px){
        display: block;
    }
}

// CUSTOMIZE PACKAGE PAGE
.pageHead {
    display: block;
    width: 100%;
    text-align: center;
    max-width: 1000px;
    margin: auto;
    padding: 3em 1em 1em 1em;
    box-sizing: border-box;

    h3 {
        display: block;
        margin: 0;
    }

    h1 {
        line-height: 1em;
    }

    @media screen and (min-width: 1024px) {
        padding-top: 55px;
    }
}

.photo-select {
    display: inline-block;
    width: calc(100vw - 2em);
    background: linear-gradient(120deg, rgb(121, 121, 121), #3d3d3d);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 1em;
    margin: 0 1em;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);

    @media screen and (min-width: 768px) {
        width: calc(35% - 2em);
        display: inline-block;
        float: left;
    }

    @media screen and (min-width: 1024px) {
        width: calc(30% - 2em);
        max-width: 350px;
        float: none;
        vertical-align: top;
    }

    h3 {
        color: rgb(255, 255, 255);
        display: block;
        margin: .5em 0;
    }

    .photoSelect {
        width: 60vw;
        height: calc(60vw / 5 * 7);
        border: 5px solid #ffffff;
        background-color: #acacac;
        display: block;
        position: relative;
        padding: 0px;
        margin: auto;
        border-radius: 3px;
        overflow: hidden;
        
        &::before {
            content: '+';
            font-size: 100pt;
            color: #ffffff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        @media screen and (min-width: 768px) {
            width: 90%;
            height: auto;
            padding-top: 125%;
            margin: auto;
        }

        @media screen and (min-width: 1024px) {
            
        }
    }
}

.customize {
    display: block;
    width: calc(100vw - 2em);
    position: relative;
    min-height: calc(100vh - 134px);
    padding: 1em;
    box-sizing: border-box;

    h1, h3 {
        line-height: 1em;
    }

    .btn {
        width: 80%;
        text-align: center;

        &::before {
            content:'Add to Cart';
        }

        &::after {
            content: '';
        }
    }

    @media screen and (min-width: 768px) {
        margin: 0;
        display: inline-block;
        width: 65%;

    }

    @media screen and (min-width: 1024px) {
        max-width: 700px;
        width: calc(70% - 4em);
        margin: auto;
    }
}

.customizeH2 {
    font-size: 1.5em;
    font-weight: 600;
    display: inline-block;
}

.custom-product-price {
    width: 100%;
    color: rgba(255, 255, 255, 0.781);
    font-size: 1.2em;
    float: right;
    line-height: 2em;
    display: block;
    text-align: right;

    @media screen and (min-width: 768px) {
        width: 50%;
        display: inline;
        font-size: 1em;
        line-height: 3em;
    }
}

.QTY {
    width: 10%;
    color: white;
    font-size: 1.2em;
    padding-left: .5em;
    padding-right: .2em;
    line-height: 2em;
    display: inline-block;
}

.customizeLine {
    height: 3px;
    background-color: $clr-secondary;
    width: 100%;
    display: block;
    position: relative;
}

.custom-head {
    color: $clr-secondary;
    font-size: 1.3em;
    font-weight: 600;
    display: block;
    padding: .25em 0;
}

.custom-group {
    font-size: 1.3em;
    color: white;
    font-weight: 600;
    display: block;
    padding: .5em 0 .5em .5em;
}

.custom-group-inline {
    font-size: 1.3em;
    color: white;
    font-weight: 600;
    display: inline-block;
    padding: .5em 0 .5em .5em;
    width: 60%;
}

.subtotal {
    font-size: 1.3em;
    color: white;
    font-weight: 600;
    padding: .5em 0 .5em .5em;
    text-align: right;
    float: right;
    width: 30%;
}

.custom-product {
    display: inline-block;
    position: relative;
    color: white;
    padding-left: 1em;
    width: 65%;
    line-height: 3em;
    width: 60%;

    @media screen and (max-width: 320px) {
        width: 60%;
    }

    @media screen and (min-width: 768px) {
        font-size: 1.2em;
        padding-left: 1em;
        line-height: 2.5em;
        width: calc(70% - 2em);
    }

    .fas {
        display: inline-block;
        box-sizing: border-box;
        text-align: center;
        width: 30px;
        height: 30px;
        padding: 8px;
        margin-right: .5em;
        border-radius: 50%;
        border: 2px solid $clr-white;
        background: $clr-secondary;
        color: $clr-white;
        transform: scale(.7);
    }
    
    .fa-info {
        font-size: 14px;
    }

    &:hover {

        .fa-info {
            background: rgb(126, 126, 126);
            transition: 250ms ease-in-out;
            position: relative;
            display: inline-block;
        }
    }
}

.custom-price {
    color: white;
    width: 30%;
    text-align: right;
    float: right;
    line-height: 3em;

    .btn{
        padding: .2em .5em;

        &::before {
            content:'';
        }
    }
}

/* Customize the label (the container) */
.custom-radio {
    display: inline-block;
    position: relative;
    padding-left: 1em;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
.custom-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: .5em;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
.custom-radio:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
.custom-radio input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
.custom-radio input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
.custom-radio .checkmark:after {
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: white;
  }

.custom-qty {
    width: 50px;
    height: 35px;
    font-size: 1.2em;
    color: white;
    background: #33333350;
    border: 1px solid #575757;
    text-align: right;
    float: right;
    margin-top: .25em;
    margin-left: .5em;
}

@media screen and (min-width: 768px) {
    .customize {

        .btn {
            margin: 0 0 0 auto;
            width: 30%;
            font-size: 1em;
        }
    }

    .custom-head {
        font-size: 1.6em;
    }

    .custom-group {
        font-size: 1.4em;
    }

    .custom-group-inline {
        font-size: 1.4em;
    }

    .custom-price {
        padding-right: .5em;
        font-size: 1.2em;
        max-width: 150px;
        line-height: 2.5em;

        .btn {
            font-size: 1em;
            width: 100%;
        }
    }
}

.advertisements {
    width: 100%;
    position: relative;
    justify-content: space-between;
    

    .Ad1, .Ad2, .Ad3 {
        width: 30%;
        box-sizing: border-box;
        float: left;
        margin: 1em;
        background-color: white;
        border-radius: 10px;
        position: relative;
        text-align: center;
        box-shadow: 5px 10px 10px rgba(0,0,0,0.2);
        padding: 0;
        overflow: hidden;

        h1 {
            color: black;
            line-height: 1.4em;
            width: 100%;
            padding: .5em;
            margin: 0;
            box-sizing: border-box;
            display: block;
            text-align: center;
        }



        p {
            text-align: left;
            padding: 0 1em;
        }
    }

    .Ad1 {

        h1 {
            background-image: linear-gradient(160deg, #159957, #155799);
            color: white;
        }
    }

    .Ad2 {

        h1 {
            background-image: linear-gradient(160deg, #43C6AC, #F8FFAE);
        }
    }

    .Ad3 {

        h1 {
            background-image: linear-gradient(160deg, #0F2027, #203A43, #2C5364);
            color: white;
        }
    }
}